/* Estilos existentes para la página de login */
.login-body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.login-container {
    background-color: white;
    padding: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 300px;
}

.login-title {
    margin-bottom: 5px;
    font-size: 24px;
}

.login-subtitle {
    margin-bottom: 20px;
    font-size: 14px;
    color: #777;
}

.login-input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.login-button {
    background-color: #4a56d4;
    color: white;
    padding: 10px;
    width: 100%;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.login-button:hover {
    background-color: #3742ac;
}

.login-register-link {
    display: block;
    margin-top: 10px;
    color: black;
}

.login-register-link:hover {
    text-decoration: underline;
}

/* Estilos para productos.html */
.productos-body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
}

.productos-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: white;
    border-bottom: 1px solid #ccc;
}

.productos-header-left {
    display: flex;
    flex-direction: column;
}

.productos-title {
    font-size: 28px;
    margin: 0;
}

.productos-subtitle {
    font-size: 14px;
    color: #777;
}

.productos-header-right {
    display: flex;
    align-items: center;
}

.carrito-btn, .logout-btn, .productos-btn {
    background-color: #4a56d4;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    margin-left: 20px;
}

.carrito-btn:hover, .logout-btn:hover, .productos-btn:hover {
    background-color: #3742ac;
}

.search-bar-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
    position: relative;
}

.search-label {
    margin-right: 10px;
    font-size: 16px;
    white-space: nowrap;
}

.search-input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 300px;
    position: relative;
}

.search-btn {
    padding: 8px 12px;
    background-color: #4a56d4;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 10px;
}

.search-btn:hover {
    background-color: #3742ac;
}

.suggestions-list {
    list-style-type: none; /* Sin puntos de lista */
    padding: 0;
    margin: 5px 0 0; /* Espacio por encima de la lista */
    border: 1px solid #ccc; /* Borde alrededor de la lista */
    background-color: white; /* Fondo blanco */
    position: absolute; /* Posiciona la lista */
    z-index: 1000; /* Asegura que esté por encima de otros elementos */
    max-height: 200px; /* Altura máxima de la lista */
    overflow-y: auto; /* Scroll si hay muchas sugerencias */
}

.suggestion-item {
    padding: 10px; /* Espaciado interno */
    cursor: pointer; /* Cambia el cursor al pasar sobre el elemento */
}

.suggestion-item:hover {
    background-color: #f0f0f0; /* Color de fondo al pasar el mouse */
}


/* Sección de productos */
.productos-section-title {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
}

.categorias-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 20px;
}

.categoria-btn {
    background-color: lightgrey;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.categoria-btn:hover {
    background-color: #ccc;
}

.productos-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.producto-card {
    background-color: rgb(231, 231, 231);
    border: 0px solid #ccc;
    padding: 15px;
    margin: 15px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    max-width: 220px;
    height: auto;
    align-items: center;
}

.producto-card img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.producto-card h3 {
    font-size: 18px;
    margin: 10px 0 5px;
}

.producto-price-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: auto;
    background-color: lightblue;
}

.producto-price {
    font-size: 16px;
    margin: 0;
    font-weight: 900;
}

.producto-add-btn {
    padding: 8px 12px;
    background-color: #e7a20c;
    color: black;
    border: none;
    cursor: pointer;
    font-size: 14px;
    font-weight: 900;
    align-items: flex-end;
}

/* Estilos para carrito.html */
.carrito-body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    margin: 0;
}

.carrito-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: white;
    border-bottom: 1px solid #ccc;
}

.carrito-header-left {
    display: flex;
    flex-direction: column;
}

.carrito-title {
    font-size: 28px;
    margin: 0;
}

.carrito-subtitle {
    font-size: 14px;
    color: #777;
}

.carrit-header-right {
    display: flex;
    align-items: center;
}

.carrito-bienvenida {
    font-size: 24px;
    margin: 0;
}

.carrito-section {
    margin: 20px;
}

.carrito-section-title {
    font-size: 22px;
    margin-bottom: 20px;
    text-align: center;
}

.carrito-table {
    width: 100%;
    border-collapse: collapse;
}

.carrito-table th, .carrito-table td {
    padding: 15px;
    border-bottom: 1px solid #ccc;
    text-align: center;
}

.carrito-table th {
    background-color: gray;
    border-bottom: 1px solid black;
}

.carrito-table td {
    background-color: white;
}

.ver-carrito-a {
    text-decoration: underline;
    color: black;
}

.ver-carrito-a:hover {
    background-color: black;
    color: white;
}

.user-name{
    font-weight: 100;
}

.informacion-body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    margin: 0;
}

.informacion-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: white;
    border-bottom: 1px solid #ccc;
}

.informacion-header-left {
    display: flex;
    flex-direction: column;
}

.informacion-title {
    font-size: 28px;
    margin: 0;
}

.informacion-subtitle {
    font-size: 14px;
    color: #777;
}

.informacion-header-right {
    display: flex;
    align-items: center;
}

.informacion-title-detalles{
    text-align: center;
}

.informacion-detalle {
    display: flex;
    justify-content: space-between;
    margin: 20px;
}

.informacion-detalle label {
    font-size: 16px;
    margin-right: 10px;
}

.informacion-table-title{
    text-align: center;
}

.informacion-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.informacion-table th, .informacion-table td {
    padding: 10px;
    border-bottom: 1px solid #ccc;
    text-align: center;
}

.informacion-table th {
    background-color: gray;
    border-bottom: 1px solid black;
}

.informacion-table td {
    background-color: white;
}

.total-container {
    text-align: right;
    margin: 20px 20px 20px 0; /* Añadido un margen derecho de 20px */
    padding-right: 20px; /* O puedes usar padding si prefieres */
}

.total-lbl{
    font-weight: 900;
}

.botones-container {
    text-align: right;
    margin: 20px;
}

.boton-actualizar, .boton-confirmar, .productos-btn {
    background-color: #4a56d4;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    margin-left: 20px;
}

.boton-actualizar:hover, .boton-confirmar:hover, .productos-btn:hover {
    background-color: #3742ac;
}
